

body {
   display: flex;
  
   font-family: 'Lato', sans-serif;
  }
  .containerbody{width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 231) ;

  }
  .body-login{
    padding-top: 5%;
    margin-top: 20%;
    
  }

  .login{
    margin-top: 2%;
    display: flex;
  }

.title{
  position:absolute;
  text-align: center;
  margin-top: -7%;
  margin-left: 15%;
  
}

.body{
  margin-top: 5%;
  display: flex;
  position: static;
  
}

.form{
  margin-top: 10%;
  margin-left: 5%;
  /*display:block;*/
  position: static;
  
}

a {
  color: #00B7FF;
}

img{
  background-color: none;
  margin-top: 12%;
  width: 4cm;
  height: 4cm;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.iniciopage{
  text-justify: auto;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 10px 14px;
  z-index: 99;
  transition: all 0.5s linear;
  user-select: none;
}

/* INICIO BODY */ 

.inicio_body{
    position: absolute;
    margin-left: 95px;
    margin-top: 5%;
    margin-right: 5%;
    transition: all 0.5s linear;
    
  }

  .inicio_body.extended{
    margin-left: 273px;

  }

  .sidebar.open{
    width: 250px;
  }
  .sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: right;
  }
  .sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar ul{
    padding-left: 0rem;
  }

  .sidebar .nav-list{
    margin-top: 5px;
    height: 100%;
  }
  .sidebar li{
    position: relative;
    margin: 5px 0;
    list-style: none;
  }
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 50px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s linear;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip{
    display: none;
  }

  ul li ul {
    display: none;
    transition: all 0.8s ease;
  }

  ul li ul li{
    line-height: 25px;
    border-top: none;
  }
  ul li ul li a{
    font-size: 13px;
    color: #e6e6e6;
    padding-left: 60px;
  }

  /* DISPLAY SHOW */

  ul li .op-show.show{
    display:block;
  }

  ul li .mp-show.show{
    display:block;
  }

  ul li .mora-show.show{
    display:block;
  }

  ul li .call-show.show{
    display:block;
  }

  ul li .per-show.show{
    display:block;
  }

  ul li .empre-show.show{
    display:block;
  }
  
  ul li .config-show.show{
    display:block;
  }
  
  ul li .cont-show.show{
    display:block;
  }

  ul li .rep-show.show{
    display:block;
  }

  ul li .plan-s-show.show{
    display:block;
  }

  ul li .entr-conv-show.show{
    display:block;
  }

  ul li .compra-show.show{
    display:block;
  }

  ul li .usados-show.show{
    display:block;
  }

  .sidebar input{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
  }
  .sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
  }
  .sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
  }
  .sidebar.open .bx-search:hover{
    background: #1d1b31;
    color: #FFF;
  }
  .sidebar .bx-search:hover{
    background: #FFF;
    color: #11101d;
  }
  .sidebar li a{
    display: flex;

    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
  }
  .sidebar ul.nav-list li a:hover{
    background: #FFF;
    color:black;
  }
  .sidebar ul.nav-list li.links_name a.active{
    color:black;
  }

  .sidebar ul.nav-list li a.active{
    background: rgb(113, 150, 198);
    color:black
  }
  .sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101D;
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  .sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s linear;
    overflow: hidden;
  }
  .sidebar.open li.profile{
    width: 250px;
  }
  .sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .sidebar li.profile .name,
  .sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  .sidebar li.profile .job{
    font-size: 10px;
  }
  .sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1f1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s linear;
  }
  .sidebar.open .profile #log_out{
    width: 50px;
    background: none;
  }
  .home-section{
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
  }
  .home-section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
  }
   .logout_button{
    background: darkblue;
    margin-bottom: -40px;
   
  }
  @media (max-width: 420px) {
    .sidebar li .tooltip{
      display: flex;
    }
  }

  /* ScrolBar  */
.scrollbar
{
z-index: -1;
left: 5%;
height: 90%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{
 left: 5%;
height: 80%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}

/* Scrollbar Style */ 



#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #3f3d3d;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #ecebeb;
}
/* Scrollbar End */ 


/* Roles text animation */
.job{animation: textmove 60s infinite linear alternate;
  -webkit-animation: textmove 60s infinite linear alternate; 
  position:relative;} 
@keyframes textmove{
from {right: -2%}
to {right: 90%}

}

/*TABLA SEGUROS*/
.seguros-body{
  margin:auto;
  margin-left: 84px;
  width: 100%;
  height: 100%;
  background-color: #5c5b5b;
  color: white;
  transition: all 0.5s linear;
}

.seguros-body.extended{
  margin-left: 254px;

}

.seguros-title{
  background-color: #3f3d3d;
  border: 1px #515050;
  font-size: 20px;
  height: 40px;
  text-align: left;
}
.seguros-title h3{
  text-indent: 15px;
}

table{
  background-color: rgb(224, 223, 223);
  width:80%;
  height: 20%;


}
table thead tr{
  background: rgb(70, 70, 70);
  border: 1px solid #5d5d5d;
  color:lightgray;
  font-size: 12px;

}

table tr td{
  
  background-color: rgb(222, 218, 218);
  border: 0.8px solid #090909; 
  font-size: 10px;
  text-align: center
}

table tr:last-of-type{
  
  
  border-bottom: 2px solid #090909; 
  
  text-align: left;
}
table th {
  text-align: center;
  min-height: 10px;
  border: 1px solid #515050; 
}

.seguros_estado input { 
  margin:10px;
  color: green;
  border-radius: 10%;
}

.seguros_estado{
  
  font-size:  12px;
  display:block;
  width: 60%;
  border:1px solid #090909; 

}

.d-flex.flex-row{
  width:100%;
  border:1px rgb(0, 0, 0)
}


.d-flex.flex-row button{
  width:120px;
  height: 30px;
  text-align: center;

}

.d-flex.flex-row button.left{
 
  
}

.d-flex.flex-row button.right{
position: fixed;
display: block;
  justify-content: space-between;
}
