    <div class="iniciopage">
   {{!--NAVBAR --}}
   <div class="sidebar">
            <div class="logo-details">
            <div class="logo">
                <div class="logo_name">Planes de Ahorro 7</div>
            </div>
            <i class="bx bx-menu" id="btn"></i>
            </div>
           
            <ul class="nav-list">
                 <div class="scrollbar" id="style-1">
                <li>
                    <a href="#" class="op-btn">
                        <i class='bx bx-list-plus'></i>
                        <span class="links_name" >Operaciones</span>
                        <span class="bx bx-chevron-down" style="color:#11101D"></span> 
                    </a>
                     <span class="tooltip">Operaciones</span>
                     
                     <ul class="op-show">
                        <li><a href="">Alta Pre-Solicitudes</a></li>
                        <li><a href="">Actualización Pre-Sol</a></li>
                        <li><a href="">Actualización Operaciones</a></li>
                        <li><a href="">Alta de Cartera</a></li>
                        <li><a href="">Agrup./Adj./Pedidos/Entregas</a></li>
                        <li><a href="">Scoring</a></li>
                        <li><a href="">Conciliación Tarjetas</a></li>
                        <li><a href="">Reporte Personalizado Op.</a></li>
                        <li><a href="">Excel Datos Operaciones</a></li>
                        <li><a href="">Buscar Op/PreSol x DNI</a></li>
                        <li><a href="">Importaciones</a></li>
                        <li><a href="">Control Solicitudes</a></li>
                        <li><a href="">Control Recibos</a></li>
                        <li><a href="">Control Transferencias</a></li>
                        <li><a href="">Impresión Recibos X</a></li>
                        <li><a href="">Reclamos</a></li>
                        <li><a href="">Licitaciones</a></li>
                        <li><a href="">Llamados por Operación</a></li>
                        <li><a href="">Reintegros</a></li>
                        <li><a href="">Rep. Micro Emprendedores</a></li>
                        <li><a href="">Reportes</a></li>
                     </ul>
                </li>
                <li>
                    <a href="#" class="mp-btn">
                        <i class='bx bx-file'></i>
                        <span class="links_name">Mesa de Planes</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Mesa de Planes</span>
                      <ul class="mp-show">
                        <li><a href="">Mesa de Planes</a></li>
                        <li><a href="">Scoring</a></li>
                        <li><a href="">Stock Para Ventas</a></li>
                        <li><a href="">Autorizador Clasificaciones</a></li>
                        <li><a href="">Stock Contable</a></li>
                        <li><a href="">Gestión de Señas Acumuladas</a></li>
                        <li><a href="">Haberes Netos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="mora-btn">
                        <i class='bx bx-time-five'></i>
                        <span class="links_name">Mora</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Mora</span>
                      <ul class="mora-show">
                        <li><a href="">Cuotas Encuadre</a></li>
                        <li><a href="">Recupero Cuotas Encuadre</a></li>
                        <li><a href="">Reporte Pagos y Recuperos Encuadre</a></li>
                        <li><a href="">Cuadro de Performance</a></li>
                        <li><a href="">Asignación de Mora</a></li>
                        <li><a href="">Mora Técnica</a></li>
                        <li><a href="">Gestión Mora Temprana</a></li>
                        <li><a href="">Gestión Mora Especializada</a></li>
                        <li><a href="">Cola de Llamados de Mora Temprana</a></li>
                        <li><a href="">Cola de Llamados de Mora Especializada</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="call-btn">
                        <i class='bx bx-phone-call'></i>
                        <span class="links_name">Call Center</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Call Center</span>
                     <ul class="call-show">
                        <li><a href="">Definición Campaña Mails</a></li>
                        <li><a href="">Definición Campaña SMS</a></li>
                        <li><a href="">Generación Bases Neotel</a></li>
                        <li><a href="">Envío y Recepción de Mails</a></li>
                        <li><a href="">Envío y Recepción de SMS</a></li>
                        <li><a href="">Definición Vto. Fecha Agendado Campaña</a></li>
                        <li><a href="">Administración Mails Enviados y Recibidos</a></li>
                        <li><a href="">Administración SMS Enviados y Recibidos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="per-btn">
                        <i class='bx bx-id-card'></i>
                        <span class="links_name">Personal</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Personal</span>
                     <ul class="per-show">
                        <li><a href="">Legajos</a></li>
                        <li><a href="">Reportes</a></li>
                        <li><a href="">Importación de Sueldos</a></li>
                        <li><a href="">Generación TXT Acreditación Haberes</a></li>
                     </ul>
                </li>
                <li>
                    <a href="#" class="empre-btn">
                       <i class='bx bx-group'></i>
                        <span class="links_name">Emprendedores</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Emprendedores</span>
                     <ul class="empre-show">
                        <li><a href="">Circulares</a></li>
                     </ul>
                </li>
                <li>
                    <a href="#" class="config-btn">
                        <i class='bx bx-cog'></i>
                        <span class="links_name">Configuracion de Datos Generales</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Configuracion de Datos Generales</span>
                     <ul class="config-show">
                        <li><a href="">Vendedores</a></li>
                        <li><a href="">Cambio de Modelo</a></li>
                        <li><a href="">Obj. Altas Bajas Mesa de Planes</a></li>
                        <li><a href="">Parámetros</a></li>
                        <li><a href="">Modelos</a></li>
                        <li><a href="">Objetivos Mora</a></li>
                        <li><a href="">Obj. Grupo Mora</a></li>
                        <li><a href="">Cambio de Contraseña de Sueldos</a></li>
                        <li><a href="">Estructura Comercial</a></li>
                        <li><a href="">Objetivos por Marca</a></li>
                        <li><a href="">Cambio de Contraseña</a></li>
                        <li><a href="">Gerentes</a></li>
                        <li><a href="">Sucursales</a></li>
                        <li><a href="">Usuarios</a></li>
                        <li><a href="">Supervisores</a></li>
                        <li><a href="">Puntos de Venta</a></li>
                        <li><a href="">Intereses</a></li>
                        <li><a href="">Team Leader</a></li>
                        <li><a href="">Listas de Precios</a></li>
                        <li><a href="">Oficiales</a></li>
                        <li><a href="">Entrega Asegurada</a></li>
                     </ul>
                </li>
                <li>
                    <a href="#" class="cont-btn">
                        <i class='bx bx-line-chart'></i>
                        <span class="links_name">Contabilidad</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Contabilidad</span>
                     <ul class="cont-show">
                        <li><a href="">Tesorería</a></li>
                        <li><a href="">Ventas</a></li>
                        <li><a href="">Bancos</a></li>
                        <li><a href="">Contabilidad General</a></li>
                        <li><a href="">Compras</a></li>
                        <li><a href="">Centro de Costos</a></li>
                        <li><a href="">Proveedores</a></li>
                        <li><a href="">Presupuestos</a></li>
                        <li><a href="">Patentamientos Plan de Ahorro</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="rep-btn">
                        <i class='bx bx-printer'></i>
                        <span class="links_name">Reportes</span>
                    </a>
                     <span class="tooltip">Reportes</span>
                                        
                </li>
                <li>
                    <a href="#" class="plan-s-btn">
                        <i class='bx bx-tachometer'></i>
                        <span class="links_name">Plan Subite Fiat</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Plan Subite Fiat</span>
                     <ul class="plan-s-show">
                        <li><a href="">Oficiales</a></li>
                        <li><a href="">Reporte de Compras</a></li>
                        <li><a href="">Importación de Datos</a></li>
                        <li><a href="">Gestión de Datos</a></li>
                        <li><a href="">Asignación de Datos</a></li>
                        <li><a href="">Estado de la Gestión</a></li>
                        <li><a href="">Reporte de Asignaciones por Período</a></li>
                        <li><a href="">Importación de HN</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="entr-conv-btn">
                       <i class='bx bxs-car-garage'></i>
                        <span class="links_name">Entregas Convencionales</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Entregas Convencionales</span>
                     <ul class="entr-conv-show">
                        <li><a href="">Alta y Modificación de Convencionales</a></li>
                        <li><a href="">Turnos</a></li>
                        <li><a href="">Seguimiento Service</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="compra-btn">
                        <i class='bx bx-cart'></i>
                        <span class="links_name">Compra Rescindidos</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Compra Rescindidos</span>
                     <ul class="compra-show">
                        <li><a href="">Oficiales</a></li>
                        <li><a href="">Estado de la Gestión</a></li>
                        <li><a href="">Gestión de Datos</a></li>
                        <li><a href="">Asignación de Datos</a></li>
                        <li><a href="">Importación de Datos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="usados-btn">
                        <i class='bx bx-car'></i>
                        <span class="links_name">Usados</span>
                          <span class="bx bx-chevron-down" style="color:#11101D"></span>
                    </a>
                     <span class="tooltip">Usados</span>
                     <ul class="usados-show">
                        <li><a href="">Cotizaciones</a></li>
                        <li><a href="">Cotizaciones Generales</a></li>
                        <li><a href="">Unidades Aprobadas Plan de Ahorro a Recibir</a></li>
                        <li><a href="">Unidades Aprobadas Convencional a Recibir</a></li>
                        <li><a href="">Resumen Usados (Interempresa)</a></li>
                        <li><a href="">Carga Tasa por Tenencia</a></li>
                        <li><a href="">Análisis Ingreso Egreso</a></li>
                        <li><a href="">Stock</a></li>
                        <li><a href="">Stock Interempresa</a></li>
                        <li><a href="">Egreso de Unidades y Ventas</a></li>
                        <li><a href="">Ventas Interempresa</a></li>
                        <li><a href="">Listado para Ventas</a></li>
                        <li><a href="">Listado para Ventas (Interempresa)</a></li>
                        <li><a href="">Vendedores Usados</a></li>
                        <li><a href="">Control Precio Toma</a></li>
                        <li><a href="">Capital Vehículos Usados</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/stockVehiculos">
                        <i class='bx bx-bus'></i>
                        <span class="links_name">Stock Vehiculos Plan Ahorro</span>
                    </a>
                     <span class="tooltip">Stock Vehiculos Plan Ahorro</span>
                </li>
                <li>
                    <a href="/seguros">
                        <i class='bx bx-lock'></i>
                        <span class="links_name">Seguros</span>
                    </a>
                     <span class="tooltip">Seguros</span>
                </li>
                <li>
                    <a href="http://localhost:3001/">
                        <i class='bx bx-log-out'></i>
                        <span class="links_name">Salir del Sistema</span>
                    </a>
                     <span class="tooltip">Salir del Sistema</span>
                </li>
                 <li class="profile">
                    
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
           <div class="name_job">
             <div class="name">{{nombre}}</div>
             <div class="job">{{roles}}</div>
           </div>
         </div>
         <a href="/" class="logout_button">
         <i class='bx bx-log-out' id="log_out"  ></i>
        </a>
     </li>
     </div>
            </ul>
            
            
            </div>


  
    {{!--BODY --}}
    <div class="inicio_body">
        <h3>Bienvenido, {{nombre}} a PA7!!!</h3>
        <p>Sus roles son: {{roles}}</p>
        
    </div>
        </div>    



{{!--NAVBAR SCRIPTS--}}

<script>
            
    
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");
  let showBtn = document.querySelector('.op-btn');
  let opShow = document.querySelector('.op-show');
  let inicioBody = document.querySelector(".inicio_body")
   
  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    inicioBody.classList.toggle("extended");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }

    /*opBtn.addEventListener('click', ()=>{
        opShow.classList.toggle('show');
        menuBtnChange();
    })*/
    </script>
    
<script>


 $('.op-btn').click(function(){
             $('ul li .op-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })
 $('.mp-btn').click(function(){
             $('ul li .mp-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })
 $('.mora-btn').click(function(){
             $('ul li .mora-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })
 $('.call-btn').click(function(){
             $('ul li .call-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             }) 
 $('.per-btn').click(function(){
             $('ul li .per-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })              
 $('.empre-btn').click(function(){
             $('ul li .empre-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })  
 $('.config-btn').click(function(){
             $('ul li .config-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })  
 $('.cont-btn').click(function(){
             $('ul li .cont-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })  
 $('.rep-btn').click(function(){
             $('ul li .rep-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })
 $('.plan-s-btn').click(function(){
             $('ul li .plan-s-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })
 $('.entr-conv-btn').click(function(){
             $('ul li .entr-conv-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })
 $('.compra-btn').click(function(){
             $('ul li .compra-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })
 $('.usados-btn').click(function(){
             $('ul li .usados-show').toggleClass("show");
             //$(' ul .first').toggleClass("rotate");
             })          
  </script>

        