
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  padding: 0;
  display: flex;
  background-color: rgb(253, 255, 226);
  font: 14px "Lato";
  }

.containerLogin{
  position: absolute;
  margin-left:30%
}

.title{
  position:relative;
  text-align: center;
  margin-top: 2%;
  margin-left: 5%;
}

.bodyLogin{
  margin-top: 0%;
  display: flex;
  position: static;
}

.form{
  margin-top: 0%;
  margin-left: 5%;
  /*display:block;*/
  position: static;
}



img{
 background-color: #090909;
  margin-top: 12%;
  width: 4cm;
  height: 4cm;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.iniciopage{
  text-justify: auto;
}



/* INICIO BODY */ 

.inicio_body{
    position: absolute;
    margin-left: 5px;
    margin-top: 5%;
    margin-right: 5%;
    transition: all 0.5s linear;
    
  }

  .inicio_body.extended{
    margin-left: 273px;

    /*SIDEBAR*/
  }
  .container{
    display:flex;
    --bs-gutter-x: 0;
    height: 100vh;
}
main{
    width: 100%;
    padding: 10px;
}
.sidebar{
    background: #000;
    color: #fff;
    margin-left: 0;
    height: 100vh;
    width: 210px;
    transition: all 0.5s linear;
}
.top_section{
    display: flex;
    align-items:center;
    padding:15px 10px ;
}
.logo{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 0px;
    cursor: pointer;
}
.link{
   text-decoration:none;
    display: flex;
    color: rgb(234, 234, 234);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
  border-left: solid 10px #fff;
   cursor: pointer;
  color: #fff;
    transition: all 0.1s;
}
.active{
  
    background: rgb(255, 255, 255);
    color: #000;
}
.link.disabled{
  background: #000;
  color: rgb(99, 99, 99)
} 

.icon{
  font-size: 15px;
} 

.link_text{
 

  margin-top: 4px;
  font-size: 12px;
}

/*SUBMENU*/

.submenu{
  display: grid;
  width: 150px;
  margin-left: 0px;
}

.submenuContainer{
  display: block;
}

.svg{
  position: relative;
  left: 15px;
  margin-top: -37px;
  color: rgb(154, 136, 136);
  
  font-size: 22px;
  
}
.svg:hover{

  color: rgb(255, 255, 255);
    cursor:pointer;

}

.sidebarLink{
  display:flex;
color: rgb(255, 255, 255);
justify-content:space-between;
align-items:center;
margin-top: 0px;
list-style:none;
text-decoration:none;
font-size:15px;
padding-top: 0px;
}



.sidebarLabel{
  margin-top:0px;
  margin-left:0px;
  text-indent: 5px;
  display: block;
  cursor: pointer;
}

.dropdown-link{
color:#f5f5f5;
background: #000;
width: 200px;
height:6vh;
display: block;
padding-top: 2px;
padding-left: 0px;
align-items:center;
text-align: start;
line-height: 25px;
text-decoration:none;
font-size: 12px;

}
.dropdown-link.disabled{
  color:rgb(70, 70, 70)
}

.dropdown-link:hover {
  border-left: solid 10px #fff;
  color:#fff;
  cursor:pointer;
  transition: all 0.1s;}

    .dropdown-link.disabled:hover{
      color:rgba(70, 70, 70, 0.716);
      border-left: solid 10px rgba(255, 255, 255, 0.441);
      
    }

    .dropdown-link.active{
      border-left: solid 10px #fff;
    }


  /* ScrolBar  */
.scrollbar
{
z-index: -1;

height: 80%;
width: inherit;
padding-left: 1px;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{
 
height: 80%;
width: inherit;
overflow-y: scroll;
overflow-x: hidden;
}

/* Scrollbar Style */ 



#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #3f3d3d;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #ecebeb;
}
/* Scrollbar End */ 


.profile{
  position: fixed;
  height: 60px;
  
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s linear;
  overflow: hidden;
}

.profile-details .name,
  .profile-details .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  .profile-details .job{
    font-size: 10px;
  }
   #log_out{
    position: relative;
    color:#fff;
    transform: translateY(-50%);
    background: #1f1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s linear;
  }

/* Roles text animation */
.job{animation: textmove 60s infinite linear alternate;
  -webkit-animation: textmove 60s infinite linear alternate; 
  position:relative;} 
@keyframes textmove{
from {right: -2%}
to {right: 90%}

}

/*TABLA SEGUROS*/
.seguros-body{
  margin-top: -10px ;
  margin-left: -10px ;
  width: 204vh;
  height: 100vh;
  background-color: #5c5b5b;
  color: white;
  transition: all 0.5s linear;
}



.seguros-title{
  background-color: #3f3d3d;
  border: 1px #515050;
  font-size: 20px;
  height: 45px;
  text-align: left;
}
.seguros-title h3{
  padding-top: 8px;
  text-indent: 30px;
}

table{
  background-color: rgb(224, 223, 223);
  width:90%;
  height: 100%;
  margin-left:30px;

}
table thead tr{
  background: rgb(70, 70, 70);
  border: 1px solid #5d5d5d;
  color:lightgray;
  font-size: 12px;

}

table tr td{
  height: 20px;
  background-color: rgb(222, 218, 218);
  border: 0.8px solid #090909; 
  color:#090909;
  font-size: 9px;
  text-align: center
}

table tr:last-of-type{
  
  
  border-bottom: 2px solid #090909; 
  
  text-align: left;
}
table th {
  text-align: center;
  height: 30px;
  border: 1px solid #515050; 
}

.seguros_estado input { 
  margin: 5px;
  color: green;
  border-radius: 10%;
}

.seguros_estado{
  margin-top: -10px;
  margin-left:30px;
  font-size:  12px;
  display:block;
  width: 90%;
  border:1px solid #090909; 

}

.d-flex.flex-row{
  margin-left:30px;
  width: 90%;
  height: 50px;
  border: solid 1px rgb(0, 0, 0);
  
  justify-content: space-between;
}


.d-flex.flex-row button{
  margin-top: 5px;
  width: 120px;
  height: 40px;
  text-align: center;
  

}

/*.d-flex.flex-row button.left{
  position: fixed;
  display: block;
    justify-content: space-between;
  
}

.d-flex.flex-row button.right{
position: fixed;
display: block;
  justify-content: space-between;
}*/