

body {
  padding: 0;
  display: flex;
  background-color: rgb(231, 234, 196);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
.title{
  position:absolute;
  text-align: center;
  margin-top: -7%;
  margin-left: 15%;
}

.body{
  margin-top: 5%;
  display: flex;
  position: static;
}

.form{
  margin-top: 10%;
  margin-left: 5%;
  /*display:block;*/
  position: static;
}



img{
  margin-top: 12%;
  width: 4cm;
  height: 4cm;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.iniciopage{
  text-justify: auto;
}


/* INICIO BODY */ 

.inicio_body{
    position: absolute;
    margin-left: 5px;
    margin-top: 5%;
    margin-right: 5%;
    transition: all 0.5s linear;
    
  }

  .inicio_body.extended{
    margin-left: 273px;

    /*SIDEBAR*/
  }
  .container{
    display:flex;
    --bs-gutter-x: 0;
    height: 100vh;
}
main{
    width: 100%;
    padding: 10px;
}
.sidebar{
    background: #000;
    color: #fff;

    margin-left: 0;
    height: 100vh;
    width: 200px;
    transition: all 0.5s linear;
}
.top_section{
    display: flex;
    align-items:center;
    padding:15px 10px ;
}
.logo{
    font-size: 16px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 0px;
    cursor: pointer;
}
.link{
   text-decoration:none;
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:white;
    color: #000;
    transition: all 0.5s;
}
.active{
  
    background: rgb(255, 255, 255);
    color: #000;
}
.link.disabled{
  background: rgb(82, 82, 82);
  color: #fff
} 

.icon, .link_text{
    font-size: 10px;
}


  /* ScrolBar  */
.scrollbar
{
z-index: -1;

height: 80%;
width: auto;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{
 
height: 80%;
width: auto;
overflow-y: scroll;
overflow-x: hidden;
}

/* Scrollbar Style */ 



#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #3f3d3d;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #ecebeb;
}
/* Scrollbar End */ 


/* Roles text animation */
.job{animation: textmove 60s infinite linear alternate;
  -webkit-animation: textmove 60s infinite linear alternate; 
  position:relative;} 
@keyframes textmove{
from {right: -2%}
to {right: 90%}

}

/*TABLA SEGUROS*/
.seguros-body{
  margin:auto;

  width: 100%;
  height: 100%;
  background-color: #5c5b5b;
  color: white;
  transition: all 0.5s linear;
}



.seguros-title{
  background-color: #3f3d3d;
  border: 1px #515050;
  font-size: 20px;
  height: 40px;
  text-align: left;
}
.seguros-title h3{
  text-indent: 15px;
}

table{
  background-color: rgb(224, 223, 223);
  width:90%;
  height: 20%;


}
table thead tr{
  background: rgb(70, 70, 70);
  border: 1px solid #5d5d5d;
  color:lightgray;
  font-size: 12px;

}

table tr td{
  height: 20px;
  background-color: rgb(222, 218, 218);
  border: 0.8px solid #090909; 
  color:#090909;
  font-size: 9px;
  text-align: center
}

table tr:last-of-type{
  
  
  border-bottom: 2px solid #090909; 
  
  text-align: left;
}
table th {
  text-align: center;
  height: 30px;
  border: 1px solid #515050; 
}

.seguros_estado input { 
  margin: 5px;
  color: green;
  border-radius: 10%;
}

.seguros_estado{
  
  font-size:  12px;
  display:block;
  width: 90%;
  border:1px solid #090909; 

}

.d-flex.flex-row{
  width: 90%;
  height: 50px;
  border:1px rgb(0, 0, 0);
  justify-content: space-between;
}


.d-flex.flex-row button{
  width: 120px;
  height: 40px;
  text-align: center;
  

}

/*.d-flex.flex-row button.left{
  position: fixed;
  display: block;
    justify-content: space-between;
  
}

.d-flex.flex-row button.right{
position: fixed;
display: block;
  justify-content: space-between;
}*/